.u-section-1 .u-sheet-1 {
  min-height: 1287px;
}

.u-section-1 .u-group-1 {
  width: 138px;
  min-height: 42px;
  height: auto;
  margin: 20px -42px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-icon-1 {
  width: 34px;
  height: 34px;
  margin: 4px auto 0 7px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -31px 18px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 1232px;
  min-height: 969px;
  height: auto;
  margin: -9px auto 60px -50px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 30px;
}

.u-section-1 .u-group-3 {
  width: 330px;
  min-height: 468px;
  height: auto;
  margin: 6px -19px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-1 .u-gallery-1 {
  height: 348px;
  width: 290px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 12px;
  width: 31px;
  height: 31px;
  right: auto;
  padding: 0;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: auto;
  right: 29px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 7px 25px 0 276px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -28px 190px 0 20px;
}

.u-section-1 .u-icon-2 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -24px 63px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 11px 211px 0 51px;
}

.u-section-1 .u-icon-3 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -28px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 330px;
  min-height: 468px;
  height: auto;
  margin: -468px 287px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-gallery-2 {
  height: 348px;
  width: 290px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 12px;
  width: 31px;
  height: 31px;
  right: auto;
  padding: 0;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: auto;
  right: 29px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 7px 25px 0 276px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -28px 190px 0 20px;
}

.u-section-1 .u-icon-4 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -24px 63px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 11px 211px 0 51px;
}

.u-section-1 .u-icon-5 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -28px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 330px;
  min-height: 468px;
  height: auto;
  margin: -468px auto 0 311px;
}

.u-section-1 .u-gallery-3 {
  height: 348px;
  width: 290px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-carousel-indicators-3 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-5 {
  position: absolute;
  left: 12px;
  width: 31px;
  height: 31px;
  right: auto;
  padding: 0;
}

.u-section-1 .u-carousel-control-6 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: auto;
  right: 29px;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 7px 25px 0 276px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -28px 190px 0 20px;
}

.u-section-1 .u-icon-6 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -24px 63px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 11px 211px 0 51px;
}

.u-section-1 .u-icon-7 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -28px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-group-6 {
  width: 330px;
  min-height: 468px;
  height: auto;
  margin: -468px auto 0 8px;
}

.u-section-1 .u-gallery-4 {
  height: 348px;
  width: 290px;
  margin: 20px auto 0;
}

.u-section-1 .u-carousel-indicators-4 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-7 {
  position: absolute;
  left: 12px;
  width: 31px;
  height: 31px;
  right: auto;
  padding: 0;
}

.u-section-1 .u-carousel-control-8 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: auto;
  right: 29px;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 7px 25px 0 276px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -28px 190px 0 20px;
}

.u-section-1 .u-icon-8 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -24px 63px 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: 11px 211px 0 51px;
}

.u-section-1 .u-icon-9 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -28px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-group-7 {
  width: 330px;
  min-height: 472px;
  height: auto;
  margin: -19px auto 0 6px;
}

.u-section-1 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-1 .u-gallery-5 {
  height: 348px;
  width: 290px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-carousel-indicators-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  padding: 30px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-9 {
  position: absolute;
  left: 12px;
  width: 31px;
  height: 31px;
  right: auto;
  padding: 0;
}

.u-section-1 .u-carousel-control-10 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: auto;
  right: 29px;
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: 7px 25px 0 276px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -28px 190px 0 20px;
}

.u-section-1 .u-icon-10 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -24px 63px 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  margin: 11px 211px 0 51px;
}

.u-section-1 .u-icon-11 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -28px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-group-8 {
  width: 330px;
  min-height: 472px;
  height: auto;
  margin: -444px -303px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-1 .u-gallery-6 {
  height: 348px;
  width: 290px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-carousel-indicators-6 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-11 {
  position: absolute;
  left: 12px;
  width: 31px;
  height: 31px;
  right: auto;
  padding: 0;
}

.u-section-1 .u-carousel-control-12 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: auto;
  right: 29px;
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  margin: 7px 25px 0 276px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -28px 190px 0 20px;
}

.u-section-1 .u-icon-12 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -24px 63px 0 auto;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  margin: 11px 211px 0 51px;
}

.u-section-1 .u-icon-13 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -28px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-group-9 {
  width: 330px;
  min-height: 472px;
  height: auto;
  margin: -444px -303px 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding-bottom: 0;
}

.u-section-1 .u-gallery-7 {
  height: 348px;
  width: 290px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-carousel-indicators-7 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-13 {
  position: absolute;
  left: 12px;
  width: 31px;
  height: 31px;
  right: auto;
  padding: 0;
}

.u-section-1 .u-carousel-control-14 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: auto;
  right: 29px;
  padding: 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  margin: 7px 25px 0 276px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -28px 190px 0 20px;
}

.u-section-1 .u-icon-14 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -24px 63px 0 auto;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  margin: 11px 211px 0 51px;
}

.u-section-1 .u-icon-15 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -28px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-group-10 {
  width: 330px;
  min-height: 472px;
  height: auto;
  margin: -444px -303px 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding-bottom: 0;
}

.u-section-1 .u-gallery-8 {
  height: 348px;
  width: 290px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-carousel-indicators-8 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-15 {
  position: absolute;
  left: 12px;
  width: 31px;
  height: 31px;
  right: auto;
  padding: 0;
}

.u-section-1 .u-carousel-control-16 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: auto;
  right: 29px;
  padding: 0;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  margin: 7px 25px 0 276px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -28px 190px 0 20px;
}

.u-section-1 .u-icon-16 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -24px 63px 0 auto;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  margin: 11px 211px 0 51px;
}

.u-section-1 .u-icon-17 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -28px auto 0 23px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    margin-top: 20px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 210px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3799px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 3701px;
    margin-top: 12px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 1342px;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: -911px;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    margin-top: -912px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: -913px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: 1310px;
    margin-left: auto;
  }

  .u-section-1 .u-group-8 {
    margin: 14px auto -458px -3px;
  }

  .u-section-1 .u-group-9 {
    margin: 23px auto -467px -3px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 19px;
    margin-bottom: -463px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}border-radius: 25px; 